.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: $text-dark;

    padding-right: 10px;
    margin-bottom: 12px;
  }

  & p {
    font-size: 17px;
    line-height: 31px;
    color: $black-opacity-07;
    text-align: center;
    max-width: 555px;
    padding-right: 17px;
    margin-bottom: 40px;
  }

  & ul {
    @include reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 957px;
    width: 100%;
    margin-top: 33px;
    margin-bottom: 96px;
  }

  & li {
    white-space: nowrap;
    padding-left: 25px;
    padding-bottom: 10px;

    &:not(:last-child) {
      margin-right: 100px;
    }
  }

  & svg {
    position: absolute;
    top: 0;
    left: -40px;
  }

  & a {
    position: relative;
    line-height: 22px;
    color: $black-opacity-07;
  }
}

.footer__contact {
  &:hover {
    color: $decoration-color;
  }

  &:focus {
    color: $decoration-color;
  }

  &:active {
    color: $text-dark;
  }
}

.footer__map {
  display: block;
  max-width: 957px;

  & img {
    width: 957px;
    object-fit: contain;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    & h2 {
      font-size: 24px;

      padding-right: 0;
      margin-bottom: 3px;
    }

    & p {
      width: 100%;
      max-width: 698px;
      padding-right: 0;
      margin-bottom: 20px;
    }

    & ul {
      max-width: 698px;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 51.88px;
    }

    & li {
      padding-left: 30px;
    }
  }

  .footer__map {
    max-width: 91%;
    min-height: 545px;
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
      min-height: 545px;
      object-fit: fill;
    }
  }
}

@media (max-width: $width-mobile) {
  .footer {
    & h2 {
      font-size: 18px;
    }

    & p {
      width: 83%;
    }

    & ul {
      flex-direction: column;
      max-width: none;
      width: 100%;
      margin-bottom: 35.88px;
      text-align: center;
      margin-top: 27px;
    }

    & li {
      margin-bottom: 10px;
      width: auto;

      &:first-child {
        margin-left: 25px;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .footer__map {
    max-width: 100%;
    min-height: 250px;

    & img {
      min-height: 250px;
    }
  }
}
