.intro {
  display: flex;
  justify-content: space-between;
}

.intro__text {
  width: 45%;

  & h2 {
    color: $text-light;
    font-weight: 600;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: 1px;

    margin-bottom: 25px;
    margin-top: 48px;
  }

  & p {
    color: $text-opacity-08;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
}

.intro__form {
  width: 37.3%;

  & p {
    color: $text-light;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;

    margin: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .intro__text {
    width: 61%;

    margin-bottom: 133px;

    & h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.6px;

      margin-bottom: 15px;
      margin-top: 85px;
    }

    & p {
      font-size: 18px;
      text-align: center;
    }
  }

  .intro__form {
    width: 43%;
    min-height: auto;

    & p {
      color: $black;
      font-size: 18px;
      margin-bottom: 30px;
      letter-spacing: -0.1px;
    }
  }
}

@media (max-width: $width-mobile) {
  .intro__text {
    width: 100%;
    margin-bottom: 123px;

    & h2 {
      margin-top: 71px;
    }

    & p {
      font-size: 18px;
      text-align: center;
    }
  }

  .intro__form {
    width: 100%;

    & p {
      margin-bottom: 20px;
    }
  }
}
