.video {
  background: linear-gradient(to bottom, $bg-dark 88%, $text-light 88%);
}

.video__wrapper {
  max-width: 929px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 127px;

  & h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: $text-light;

    padding-right: 10px;
    margin-top: 122px;
    margin-bottom: 4px;
  }

  & p {
    font-weight: 300;
    line-height: 28px;
    color: $text-opacity-07;
    width: 35%;
    margin-bottom: 56px;
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.video__player {
  position: relative;

  & button {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}


@media (max-width: $tablet-width) {
  .video {
    background: linear-gradient(to bottom, $bg-dark 83%, $text-light 83%);
  }

  .video__wrapper {
    max-width: 503px;
    margin-bottom: 50px;

    & h2 {
      font-size: 24px;
      padding-right: 0;
      margin-top: 69px;
      margin-bottom: 5px;
    }

    & p {
      width: 90%;
      margin-bottom: 40px;
      text-align: center;
      letter-spacing: -0.1px;
    }
  }

  .video__player {
    & button {
      position: absolute;
      width: 95px;
      height: 95px;
      top: 51%;
      left: 49%;
      transform: translate(-50%, -50%);

      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    & svg {
      width: 90px;
      height: 90px;
    }
  }
}

@media (max-width: $width-mobile) {
  .video {
    background: linear-gradient(to bottom, $bg-dark 89%, $text-light 89%);
  }

  .video__wrapper {
    margin-bottom: 55px;

    & h2 {
      margin-top: 84px;
      letter-spacing: -0.2px;
      padding-right: 15px;
    }

    & p {
      margin-bottom: 53px;
    }
  }

  .video__player {
    width: 90%;

    & button {
      width: 65px;
      height: 65px;
      top: 50%;
      left: 48%;
    }

    & svg {
      width: 65px;
      height: 65px;
    }
  }
}
