body {
  font-family: $font-basic;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $text-dark;

  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #141517;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  @include reset;
}

.lock {
  overflow: hidden;
}
