$text-light: #ffffff;
$text-dark:#1f1f1f;
$black: #000000;
$decoration-color: #0ad9c6;
$bg-grey: #f6f7f9;
$bg-dark: #131314;

$font-basic: "Open Sans", "Arial", sans-serif;

$width-mobile: 767px;

$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
